<div class="contents">

    <div class="col-12" style="height: 500px;">

        <!-- Chart Select Box -->
        <div class="form-group col-12">
            <label for="chartType"></label>
            <select class="form-control" name="chartType" id="chartType" (change)="ChartTypeChange($event)">
                <option value="line" selected>Line</option>
                <option value="bar">Bar</option>
                <option value="pie">Pie</option>
                <option value="doughnut">Doughnut</option>
                <option value="radar">Radar</option>
                <option value="polarArea">Polar</option>
            </select>
        </div>

        <!-- Chart Draw -->
        <canvas baseChart
            [data]="chartData"
            [labels]="chartLabels"
            [chartType]="chartType"
            [options]="chartOptions"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)" style="width: 100%;"></canvas>
            
    </div>

</div>