<fieldset>
    <legend>회원가입</legend>

    <div class="col-md-8">
        <form #join="ngForm" (ngSubmit)="onSubmit(join)">
            <div class="col-md-3">ID</div>
            <div class="col-md-9"><input type="email" class="col-md-12" name="id" [(ngModel)]="id" required/></div>

            <div class="col-md-3">PW</div>
            <div class="col-md-9"><input type="password" class="col-md-12" name="pw-first" [(ngModel)]="password.first" (change)="PwChange()" required/></div>

            <div class="col-md-3">Retry PW</div>
            <div class="col-md-9"><input type="password" class="col-md-12" name="pw-two" [(ngModel)]="password.two" (change)="PwChange()" required/></div>
            
            <div class="col-md-12 hint" id="pw-check">&nbsp;비밀번호가 일치하지 않습니다.</div>

            <div class="col-md-3">Phone</div>
            <div class="col-md-9"><input type="tel" class="col-md-12" name="phone" [(ngModel)]="phone"/></div>

            <hr/>

            <div class="col-md-4">은행</div>
            <div class="col-md-8"><input type="text" class="col-md-12" name="bank-type" [(ngModel)]="bank.type"/></div>

            <div class="col-md-4">계좌번호</div>
            <div class="col-md-8"><input type="text" class="col-md-12" name="bank-account" [(ngModel)]="bank.account"/></div>
            
            <div class="col-md-4">예금주명</div>
            <div class="col-md-8"><input type="text" class="col-md-12" name="bank-name" [(ngModel)]="bank.name"/></div>
            
            <hr/>

            <button>Submit</button> <button (click)="backpage()">Cancel</button>
        </form>
    </div>    
</fieldset>