#menubox {
    width: 200px;
    height: auto;
    border: 1px solid #929292;
    border-radius: 30px;
    margin:45px 20px 10px 10px;
    position: fixed;
    float: left;
}

li{ padding:5px 0 5px 0;
    list-style:none;
    font:20px/23px "KoreanDREAM3R";

}
a{
    color:#424242;
}

a:hover{
    background-color:#f1c7c7;
    text-decoration: none;
}