.notice-book {
    height: 200px;
    padding: 0px;
    margin: 10px auto;
    background-color: #fff;
}

#title {
    height: 50px;
    background-color: #ddd;
}

#summary {
    height: 148px;
    background-color: #eee;
}

nav {
    width: 315px;
    margin: auto;
}

ul {
    width: 100%;
}