ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    min-width: 150px;
    background-color: #fff;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #005;
    color: white;
}