/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body{
    padding: 0px;
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}


.well {
    margin-bottom: 20px;
}

a{
    text-decoration: none; 
}

#contents {
    width: 100%;
    min-width: 1080px;
    min-height: calc(100vh - 100px);
    margin: 60px 0px 80px 0px;
    padding-right: 10px;
    padding-left: 10px;
}