table {
    border-collapse: collapse;
    border-radius: 0.5em;
    overflow: hidden;
    width:100%;
    text-align: center;
    font-size: 1em;
    font-family: "KoreanDREAM4R", sans-serif;
}

th{
    padding: 1em;
    background-color:#fdebeb;
    border:1px solid rgb(223, 221, 221);
}

tr{
    border-bottom: 1px solid #444;
    background-color:#ffffff;
}

tr:hover{
    background-color:#f3d1d1;
}

tr>td{
    padding: 1em;
    border-bottom: 1px solid #fdebeb;
    border-left:1px solid #fdebeb;
    border-right:1px solid #fdebeb;
    
}

tr>td:hover{
    background-color:#f1a7a7;
}






