<table [ngStyle]="tableStyle">
  <thead>
    <th *ngFor="let item of data.th" [ngStyle]="thStyle">{{item}}</th>
  </thead>
  <tbody>
      <tr *ngFor="let items of data.tr" [ngStyle]="trStyle">
        <td *ngFor="let item of items">
          {{item}}
        </td>
      </tr>
  </tbody>
</table>

<!-- <table>
  <thead>
    <th *ngFor="let item of data.th">{{item}}</th>
  </thead>
  <tbody>
      <tr class="junsTableRow" *ngFor="let items of data.tr">
        <td *ngFor="let item of items">
          {{item}}
        </td>
      </tr>
  </tbody>
</table> -->